{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'match/chat.css' %}">{% endblock %}

{% block content %}
    <p id='room_name' hidden>{{ room_name }}</p>
    <p id="uValue" hidden>{{profile.user.username}}</p>
    <div class="main">
        <div class="left">
            <div id="videos">
                <video id="remoteVideo" autoplay playsinline></video>
                <video id="userVideo" autoplay playsinline></video>
                <div class="type">
                    <label>Type: </label>
                    <input type="text" class="text" placeholder="Send Message...">
                    <input type="submit" class="submit">
                </div>
            </div>
        </div>
        <div class="right">
            
            <div class="chat">
                {% for msg in messages %}
                    <p class="message">[{{msg.time}}] ({{msg.profile.user.username}}): {{ msg.content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'match/chat.js' %}"></script>
{% endblock %}