{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'match/createProfile.css' %}">{% endblock %}


{% block content %}
<h1 class="title">Account Creation</h1>
        <div class="form">
            <div class="left">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form1 %}
                    <span class="labelTag">{{field.label_tag}}</span>
                    <br>
                    {% if field.help_text %}
                        {{field.help_text}}
                        <br>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color: red;">{{field.errors}}</span>
                        <br>
                    {% endif %}
                    <span class="field">{{field}}</span>
                    <br>
                {% endfor %}
                {% for field in form2 %}
                    <span class="labelTag">{{field.label_tag}}</span>
                    <br>
                    {% if field.help_text %}
                        {{field.help_text}}
                        <br>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color: red;">{{field.errors}}</span>
                        <br>
                    {% endif %}
                    <span class="field">{{field}}</span>
                    <br>
                {% endfor %}
            </div>
            <div class="right">
                <p>Add Up To 6 Photos: (At least 1 is required)</p>
                {% for field in form3 %}
                    {% if field.help_text %}
                        {{field.help_text}}
                        <br>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color: red;">{{field.errors}}</span>
                        <br>
                    {% endif %}
                    <span class="fileButton">{{field}}</span>
                {% endfor %}
                <br>
                <p>Your Uploaded Photos: </p>
                <img id="upImage1">
                <img id="upImage2">
                <img id="upImage3">
                <img id="upImage4">
                <img id="upImage5">
                <img id="upImage6">
            </div>
        </div>
            <input type="submit" value="Next" id="submit">
        </form>
        <script src="{% static 'match/createProfile.js' %}"></script>
{% endblock %}