{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'match/profile.css' %}">{% endblock %}

{% block content %}
    <div class="startChat">
        {% if toChat %}
            <button>
                Start Chat
            </button>
        {% else %}
            <button disabled>
                Start Chat
            </button>
        {% endif %}
    </div>
    <div class="area">
        <div class="left">
            <img id='img1' src="{{profile.ppic1.url}}">
            {% if profile.ppic2 %}
                <img id='img2' src="{{profile.ppic2.url}}">
            {% endif %}
            {% if profile.ppic3 %}
                <img id='img3' src="{{profile.ppic3.url}}">
            {% endif %}
            {% if profile.ppic4 %}
                <img id='img4' src="{{profile.ppic4.url}}">
            {% endif %}
            {% if profile.ppic5 %}
                <img id='img5' src="{{profile.ppic5.url}}">
            {% endif %}
            {% if profile.ppic6 %}
                <img id='img6' src="{{profile.ppic6.url}}">
            {% endif %}
        </div>
        <div class="right">
            <p><b>Username:</b> {{profile.user.username}}</p>
            <p><b>Name:</b> {{profile.user.first_name}} {{profile.user.last_name}}</p>
            <p><b>Birthday:</b> {{profile.dob}}</p>
            <p><b>Age:</b> {{profile.age}}</p>
            <p><b>Bio:</b>{{profile.bio}}</p>
            <div class="interests">
                <p><b>Interests:</b> </p>
                {% for int in interests %}
                    <p class="interest">{{int.interest}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        let button = document.querySelector('button');

        button.addEventListener('click', ()=>{
            window.location.pathname = 'chat/' + "{{uprofile.user.username}}" + '/' + 
                                        "{{profile.user.username}}" + '/'
        })
    </script>
{% endblock %}