{% extends 'base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'match/randomChat.css' %}">{% endblock %}

{% block content %}
    <h1>Chat</h1>
    <h4>Chatting as: {{profile.user.username}}</h4>
    <h4>Chatting with: {{ousername}}</h4>
    <p id='room_name' hidden>{{ room_id }}</p>
    <p id="uValue" hidden>{{profile.user.username}}</p>
    <div id="videos">
        <video id="userVideo" autoplay playsinline></video>
        <video id="remoteVideo" autoplay playsinline></video>
    </div>
    <input type="text" class="text" placeholder="Send Message...">
    <input type="submit" class="submit">
    {% for msg in messages %}
        <p>[{{msg.time}}] ({{msg.profile.user.username}}): {{ msg.content }}</p>
    {% endfor %}
    <script src="{% static 'match/randomChat.js' %}">
        var homeUrl = "{% url 'HomeView' %}";
    </script>
{% endblock %}