{% extends "base.html" %}
{% load static %}


{% block title %}Login{% endblock %}


{% block style %}<link rel='stylesheet' href="{% static 'match/login.css' %}">{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="loginBox">
        <h1 class="loginHeader">Login To Start Socializing!</h1>
        <form class='form' method="post" action="{% url 'login' %}" hidden>
            {% csrf_token %}
            {% for field in form %}
                <p class="label">{{ field.label }}</p>
                {{field}}
            {% endfor %}
            <br>
            <div class="container">
                <input class="checkbox" type="checkbox" name="toCheck" value="rememberMe">
                <label class="rememberMe">Remember Me</label>
            </div>
            <input class="button" type="submit" value="Login">
        </form>
        <br>
        <a href="{% url 'createProfile' %}" class="button" id="bottom" hidden>Create An Account</a>
    </div>
    <script src="{% static 'match/login.js' %}"></script>
{% endblock %}